@model WebsiteBanHang.Models.Category

@{
    ViewData["Title"] = "Display";
}

<h1>Mô tả chi tiết danh mục</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <br />
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <br />
    </dl>
</div>
<div>
    <a asp-action="Index">Trở về</a>
</div>
